SimpleApi/bin/Debug/net6.0/SimpleApi.dll
SimpleApi/bin/Debug/net6.0/SimpleApi.exe
SimpleApi/bin/Debug/net6.0/SimpleApi.pdb
SimpleApi/obj/project.assets.json
SimpleApi/obj/project.nuget.cache
SimpleApi/obj/SimpleApi.csproj.nuget.dgspec.json
SimpleApi/obj/SimpleApi.csproj.nuget.g.props
SimpleApi/obj/staticwebassets.pack.sentinel
SimpleApi/obj/Debug/net6.0/apphost.exe
SimpleApi/obj/Debug/net6.0/project.razor.json
SimpleApi/obj/Debug/net6.0/SimpleApi.assets.cache
SimpleApi/obj/Debug/net6.0/SimpleApi.csproj.AssemblyReference.cache
SimpleApi/obj/Debug/net6.0/SimpleApi.csproj.CoreCompileInputs.cache
SimpleApi/obj/Debug/net6.0/SimpleApi.csproj.FileListAbsolute.txt
SimpleApi/obj/Debug/net6.0/SimpleApi.dll
SimpleApi/obj/Debug/net6.0/SimpleApi.GeneratedMSBuildEditorConfig.editorconfig
SimpleApi/obj/Debug/net6.0/SimpleApi.genruntimeconfig.cache
SimpleApi/obj/Debug/net6.0/SimpleApi.pdb
